* {
  box-sizing: border-box;
}

body {
  font-family:$logo-font;
  background-color: #ecc90b;

}

a {
  text-decoration: none;
  font-size: 30px;
}



.container {
  width: 1352px;
  margin: 0 auto;

}

button{
  background-color: #aec8ed;
}