// body-colors
$body-color: #689867;




//header-colors

$logo-color: #0d0a0a;
$header-background: #2dacc0;
$header-text-color: #0f0f0f;
$header-hover: #3daec1;

//grid colors

$grid-background-color: #2dacc0;


//footer colors
$footer-background-color:#2dacc0;
$footer-text-color:black;
