// body-colors
$background-color: cornflowerblue;



//header-colors

$logo-color: #d341d3;
$header-background: #ebc073;
$header-text-color: #242476;
$header-hover:gray;

//grid colors

$grid-background-color:#ebc073;


//footer colors
$footer-background-color:#ebc073;
