@import "./colors.scss";
@import "./fonts.scss";

.footer {

   a:hover {
    background-color: #ddd;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $footer-background-color;
    box-shadow: 0 -5px 40px #00000029;
    height: 100px;
    width: 100%;
    padding: 100px;
    margin-top: 200px;
    @media screen and (max-width: 792px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer-icons {

      }

    }

  }


  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }


  &-copy {
    font-size: 0.6875rem;
    line-height: 1.5rem;
    color: grey;
    margin-top: 6px;
  }





  //.footer-icons a {
  //  :first-of-type{
  //    background-image: url("public/github.svg");
  //  }

}


