@import "./colors.scss";
@import "./fonts.scss";

.footer {


  .footer-logo{
    font-family: $footer-font;
    color: $footer-text-color;


  }

   a:hover {
     //background-color: grey;

  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $footer-background-color;
    box-shadow: 0 -5px 40px #00000029;
    height: 100px;
    width: 100%;
    padding: 100px;
    margin-top: 500px;
    @media screen and (max-width: 792px) {

      .footer-icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;

      }

    }

  }


  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }


  &-copy {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0d0a0a;
    margin-top: 6px;
  }







}


