@use "sass:math";
$columns: 8;
$col-width:math.div(100%,$columns);
main {

  padding: 150px 150px 150px 150px;
  margin: 0px;
  @media screen and (max-width: 792px) {
    flex-wrap: wrap;
  }





  .grid-container {
   float: left;
    display: inline-grid;
    height: 200px;
    padding: 10px;
    background-size: 100%;
    text-align: center;


    .col-1{
      grid-row: 1;
      height: 100px;
      width: 200px;
      background-image: url(/assets/images/math.jpg);
      border: solid 1px black;
      justify-content: center;
      align-items: center;



    }

  }

}