@use "sass:math";
@import "./colors.scss";
@import "./fonts.scss";

$columns: 8;
$col-width:math.div(100%,$columns);
main {

  padding: 150px 150px 150px 150px;
  margin: 0px;






  .grid-container {
   float: left;
    display: inline-grid;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-size: 100%;
    text-align: center;
    //@media screen and (max-width: 792px) {
    //  flex-wrap: wrap;
    //}


    .col-1{
      grid-row: 1;
      height: 100px;
      width: 200px;
      //background-image: url(src/images/math.jpg);
      background-color: #ebc073;
      border: solid 1px black;
      justify-content: center;
      align-items: center;



    }

  }

}